html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
    margin: 0;
    padding: 0;
    direction: rtl;
}
@font-face{
    font-family:yekan,;
    font-family:BKoodakBold ;
    src:url('font/yekan.ttf');
    src: url(../font/BKoodakBold.ttf);
}


P{
    font-family: yekan,BKoodakBold;
    
}

.font12{
    font-family: yekan;
    font-size: 12px;
}
.font14{
    font-family: yekan;
    font-size: 14px;
}

.font15{
    font-family: yekan;
    font-size: 15px;
}
.font16{
    font-family: yekan;
    font-size: 16px;
}
.font17{
    font-family: yekan;
    font-size: 17px;
}
.font18{
    font-family: yekan;
    font-size: 18px;
}
.font19{
    font-family: yekan;
    font-size: 19px;
}
.font20{
    font-family: yekan;
    font-size: 20px;
}


.contaner{
    width: 1200px;
    margin: 0 auto;
    height: 100%;
}



.header{
    width: 100%;
    height: 140px;
    background-color: #fff;
   box-shadow: 0 1px 3px 0 #ccc;
    -webkit-box-shadow: 0 1px 3px 0 #ccc;
    -moz-box-shadow: 0 1px 3px 0 #ccc;
    -o-box-shadow: 0 1px 3px 0 #ccc;    
}


body{
background-color: #ffffff;
}


.header-right{
    width: 500px;
    height: 100%;
    float: right;
}

.header-right .box-head{
    margin: 20px 0 0 0;
 
    float: right;
    
}
/*
.header-right .box-head img{
    width: 100px;
    height: 100px;
    float: right;
}
*/
/*
.header-right .box-head h1{
    float: right;
    margin: 11px 11px 0 0;
    font-weight:200;
    color: #2A82D7;
        transition: all 0.3s ease;

}
.header-right .box-head h3{
    float: right;
    width: 295px;
    margin: -35px 100px 0 0;
    font-weight: 500;
    transition: all 0.6s ease;
    font-family: yekan;
    color: #2A82D7;

    
}
*/
/*
.header-right .box-head h3:hover{
    color: orange;
    cursor: pointer;
}

.header-right .box-head h1:hover{
    color: orange;
    cursor: pointer;
}
*/



.header-left{
    width: 700px;
    height: 100%;
    float: left;
}
.header-left a{
    font-weight: bold;
}

#nav-top{
}


#nav-top ul{
    float: left;
    margin: 17px 0 0 0;
}

#nav-top ul li{
    float: right;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 1px #e3cccc;
    transition: all 0.5s ease;
}

#nav-top ul li a{
    
    text-decoration: none;
    color: #B062F0;
    text-align: center;
    display: block;
}

#nav-top ul li i{
    display: block;
    text-align: center;
    font-size: 45px;
    color:#B062F0;
    line-height: 55px;
}


#nav-top ul li:hover  {
    background-color: #c52aab;
}


#nav-top ul li:hover a {
    color: #fff;
}



#nav-top ul li:hover i {
    color: #fff;
}


#nav-main{
    width: 100%;
    height: 40px;
    background-color: #FBFBFB;
}

#nav-main > .contaner > ul{
    position: relative;
    
}
#nav-main > .contaner > ul > li{
    float: right;
    height: 40px;
    transition: all 0.5s ease;
    text-align: center;
    width: 100px;
   

}
#nav-main > .contaner > ul > li > a{
    text-decoration: none;
    color:#B062F0;
    display: block;
    height: 40px;
    line-height: 38px;
    margin-left: 8px;
    text-align: center;
    transition: all 0.5s ease;
    

}

#nav-main > .contaner > ul > li:hover{
    background-color: #c52aab;
}

#nav-main > .contaner > ul > li:hover > a{
    
    color: #fff;
}


#nav-main .contaner ul li ul {
    background-color: #FBFBFB;
        width: 165px;
    position: absolute;
 box-shadow: 0 2px 3px #ccc;
    padding: 5px 10px;
    display: none;
    transition: all 0.4s ease;
    z-index: 11111;

    
    
}

#nav-main .contaner ul li ul li {
    height: 40px;
    border-bottom: 1px solid #2A82D7;
        padding: 0 15px;

    
}

#nav-main .contaner ul li ul li a {
    text-decoration: none;
    color:#B062F0;
    text-align: center
    display: block;
    height: 40px;
    line-height: 38px;
    transition: all 0.4s ease;
    

}

#nav-main .contaner ul li:hover ul {
    display: block;
}
#nav-main .contaner ul li ul li a:hover {
  color: #85C52A;
}

#main-page .contaner .center h1{
    font-family:yekan;
    font-size: 28px;
    font-weight: 500;
    color: #2A82D7;

}




#main-page .contaner .center p{
    color: #2A82D7;
}




img:hover{
    cursor: pointer;
}




.search-box{
    width: 300px;
    height: 40px;
    float: left;
    
}


input[type=text]{
    width: 288px;
    height: 40px;
    border: 0;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    padding-right: 12px;
    
    
}


#main-center {
    
}
#main-center p {
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
    font-family: url(../font/BKoodakBold.ttf);
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}

.subject p:hover{
    color: #c52aab;

}
#img1{
   
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
    height: 250px;
    border-radius: 300px;
}
.box1{
    color: #c52aab;
    width: 45px;
    height: 10px;
}





